---
layout: page
---

<div class="home">
<div style="font-family:arial, sans;">
<ul class="intro">
<li>Use this basic alternate site to access some of our resources.</li>
<li>Call&nbsp;<strong>215 204-0744</strong> for assistance with services normally available through using our forms for the Paley, and Ambler Libraries.</li>
</ul>
<p><strong><a class="inline" href="/altpage/databases">A-Z Research Databases Listing</a></strong><br>
The full listing of citation and full-text research databases usually available via 
the Libraries’ Web site is being made available here as an alternative access point 
in the event of unexpected downtime. While updated regularly, this listing may represent 
a slightly older version of what appears on the Libraries’ site, which is often updated 
on a daily basis.</p>
<p><strong><span class="heading"><a class="inline" href="https://temple-primo.hosted.exlibrisgroup.com/primo-explore/jsearch?vid=TULI&amp;lang=en_US">Journal Finder</a></span></strong><br>
Search or browse journal, magazine, or newspaper titles to determine their availability in online or print format. Follow database links from results to access full-text content when available.</p>
<p><strong><span class="heading"><a class="inline" href="http://guides.temple.edu">Research Guides</a></span></strong><br>
Access an extensive array of online research guides on general and science-related topics that can help with library research.</p>
<p><strong><span class="heading"><a class="inline" href="http://ask.library.temple.edu/">Ask a Librarian!</a></span></strong></p>
<table border="0" cellpadding="4">
<tbody>
<tr>
<td valign="middle" width="30%">Paley Reference Desk:</td>
<td valign="middle" width="30%" align="center">215-204-8212</td>
<td valign="middle" width="30%">asktulib@temple.edu</td>
</tr>
<tr>
<td valign="middle">Ginsburg HSL Reference Desk:</td>
<td valign="middle" align="center">215-707-4033</td>
<td valign="middle">hscref@temple.edu</td>
</tr>
<tr>
<td valign="middle">Ambler Campus Reference Desk:</td>
<td valign="middle" align="center">267-468-8648</td>
<td valign="middle">tulamblr@temple.edu</td>
<td></td>
</tr>
</tbody>
</table>
<p><strong><a class="inline" href="https://e-zborrow.relaisd2d.com/gateway/TEMPLE.html">E-Z Borrow</a></strong> or<strong> <a class="inline" href="http://libproxy.temple.edu/login?url=https://temple.illiad.oclc.org/illiad/paley/logon.html">ILLiad</a></strong><br>
Use these interlibrary lending services to request items unavailable at Temple’s libraries. Use E-Z Borrow to search and request books from over 60 Pennsylvania academic libraries. Books are received in 3-5 business days. Use ILLiad to borrow books and other materials from libraries across North America.</p>
<p><strong><span class="heading"><a class="inline" href="https://temple-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=TULI&amp;lang=en_US&amp;sortby=rank">Library Search</a></span></strong><br>
Depending on the type of downtime, the Library Search may or may not be available.</p>
<p><strong><span class="heading"><a class="inline" href="http://temple.worldcat.org/">WorldCat</a></span></strong><br>
In the event of downtime involving the Library Search, use WorldCat to search for materials and check holdings information to determine Temple ownership.</p>
<p><strong><span class="heading"><a class="inline" href="http://guides.temple.edu/refworkstemple">RefWorks</a></span></strong><br>
Create and manage citations.</p>
<p><strong><span class="heading"><a class="inline" href="http://digital.library.temple.edu/">Digital Collections</a></span></strong><br>
Our Digital Collections site offers free worldwide access to the unique primary historical and cultural resources held by the Temple University Libraries and to selected scholarly works and other publications produced at Temple.</p>
<p>&nbsp;</p>
</div>
</div>
